html{overflow-y:scroll;}
body{
	color: #000000;
	background-color: #F6F4F0;
	margin: 0px;
	padding: 0px;
}
body,p,h1,h3,h4,table,td,th,ul,ol,textarea,input{
	font-family: verdana,helvetica,arial,sans-serif;
	margin: 0px;
	font-size: 12px;
}
h2{
	font-family: verdana,helvetica,arial,sans-serif;
	margin: 0px;
}
label{
 font-weight: bold;
}
div#mainWrapper{
	width:1098px;
	margin:auto;
}
div#header{
	background-color: #DAE7FF;
	height: 30px;
	padding: 20px;
}
div#footer{
	padding: 20px;
}
div#mainContent{
	background-color: #FFFFFF;
	text-align: center;
	
}
div#searchWrapper{
	padding: 10px 0 10px 0;
}
tr#rowHeader{
	font-weight: bold;
	background-color: #E6E6E6;
	height: 25px;
}
tr#rowOdd{
	background-color: #FFFFEB;
}
tr#rowEven{
	background-color: #CCFFCC;
}
#startDate, #endDate{
	margin-left: 10px;
}
.inputLabel{
	float: left;
	font-weight: bold;
	padding-left: 10px;
}
.frmFields{
	width: 70%;
	padding: 0px;
	margin: auto;
}
.errorMessage{
	text-align: center;
	color: red;
	padding-bottom: 5px;	
}
.errorContent{
	border: 1px solid #ff0000;
    background-color: #ffeeee;
	font-weight: bold;
	padding: 3px;
}
.grandTotal{
	text-align: right;
	font-weight: bold;
}
.excelExport{
	text-align: right;
	padding: 10px 10px 5px 10px;
}
.grey{
	float: right;
	color: grey;
	font-style: italic;
}
.shade{
	color: grey;
	font-style: italic;
	margin-right: 5px;
	float: left;
}