<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AddressBookEntities" connectionString="metadata=res://*/Data.EDMX.AddressBook.csdl|res://*/Data.EDMX.AddressBook.ssdl|res://*/Data.EDMX.AddressBook.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANIRUDH;initial catalog=AddressBook;persist security info=True;user id=sa;password=Pass123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>